body{
    margin:0px;
    padding:0px;
}
.mainbody{
margin-left: 400px;
position: absolute;
color: rgb(70,80,90);

}
.pelumititle{
    background-color: rgb(70,80,90);
    margin-right: 800px;
    display: inline-block;
    padding-bottom: 50%;
    
    width:395px;
    height: 900px;
    position: absolute;
    border: 2px solid;
}
.address{
    margin-top: 200px;

}
.contact{
    list-style-type: none; 
}
.contact li{
    color:white;
    font-family: cursive;
    font-size: 20px;
}
.contact li a{
    text-decoration: none;
    color:white;
    font-family: cursive;
    font-size: 20px;
}
.contact li a:hover{
    
    color:orange;
}
.name{
    
position: relative;
bottom:100px;
 text-align: center;
 color: rgb(70,80,90);

}
label,input,textarea{
    display: block;

}
.image{
    margin-left: 100px;
}
.material-icons{
        position:relative; 
        top:10px; 
        left:0px; 
      color:orange;  
}
.move{
display: inline-block;
margin-left:28px;

}

.line:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange;  
}
.line1:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.line2:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.line3:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.line4:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.line5:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.line6:after{
    content:' ';
    display:block;
width: 1100px;
height:2px;
background:orange; 
}
.aboutme{
    
    color:white;
    font-size: 18px;
    display: inline-block;
}
.aboutmetitle:after{
    content:' ';
    display:block;
width: 200px;
height:2px;
background:orange;  
margin-left:100px;
margin-bottom: 50px; 
}